@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

.container {
  width: 1140px;
  padding: 0px 15px;
  margin: auto !important;
}

body {
  background: hsl(207, 26%, 17%);
}

.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background: hsl(209, 23%, 22%);
  z-index: 11;
}

.header h5 {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
}

.country__bottom {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.country__card {
  width: 250px;

  border-radius: 5px;
  background: hsl(209, 23%, 22%);
  color: #fff;
}

.country__img img {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
}

.all__country__wrapper {
  margin-top: 100px;
}

.country__data {
  padding: 20px;
}

.country__data h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 500;
}

.country__data h6 {
  margin-bottom: 10px;
  font-weight: 400;
  opacity: 80%;
}

.country__bottom h4 {
  color: #fff;
  text-align: center;
  margin-top: 15px;
}

input {
  padding: 10px 25px;
  color: #fff;
  border-radius: 5px;
  background: hsl(209, 23%, 22%);
  border: none;
  outline: none;
  margin-bottom: 50px;
  cursor: pointer;
}

::placeholder {
  color: #fff;
}

.country__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

select {
  padding: 10px 25px;
  background: hsl(209, 23%, 22%);
  margin-bottom: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.country__info__wrapper {
  margin-top: 120px;
}

.country__info__container {
  display: flex;
  column-gap: 1rem;
}

.country__info-img,
.country__info {
  width: 50%;
}

button {
  padding: 10px 25px;
  color: #fff;
  background: hsl(209, 23%, 22%);
  border: none;
  outline: none;
  cursor: pointer;
  width: 120px;
  border-radius: 5px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}

.country__info h3 {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.country__info-left h5 {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.country__info-left h5 span {
  color: #fff;
  opacity: 85%;
  font-weight: 400;
}
